@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #008b44;
}
.card {
  display: flex;
  margin: auto;
  height: 400px;
  width: 275px;
  border-radius: 10px;
  position: relative;
  border-color: black;
  border-spacing: 1px;
}

.cardspade {
  color: black;
}

.cardclub {
  color: black;
}

.carddiamond {
  color: red;
}

.cardheart {
  color: red;
}

#UP {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 80px;
}

#DOWN {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 80px;

  transform: rotate(180deg);
}

#NUMBER {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  font-size: 80px;
  transform: translate(-50%, -50%);
}
